@using Nop.Core
@using Nop.Services.Configuration
@using Nop.Services.Security
@using Nop.Services.Orders
@using Nop.Core.Domain.Orders

<div class="rich-blog-homepage">
    <div class="title">
        <h3 class="home-about-title">@T("Homepage.AboutGFarm.Title")</h3>
    </div>
    <div class="sub-title">
        <strong class="home-about-subtitle">@T("Homepage.AboutGFarm.SubTitle")</strong>
        <p>@T("Homepage.AboutGFarm.SubDescription")</p>
    </div>
    <div class="home-about-items">
        <div class="home-about-item">
            <ul class="home-about-left">
                <li>
                    <div class="text">
                        <h4 class="text-right">@T("Homepage.AboutGFarm.LeftTitle1")</h4>
                        <p class="text-right">@T("Homepage.AboutGFarm.LeftText1")</p>
                    </div>
                    <div class="img">
                        <img alt="" src="~/aboutGFarmIcon/source.png" />
                    </div>
                </li>
                <li>
                    <div class="text">
                        <h4 class="text-right">@T("Homepage.AboutGFarm.LeftTitle2")</h4>
                        <p class="text-right">@T("Homepage.AboutGFarm.LeftText2")</p>
                    </div>
                    <div class="img">
                        <img alt="" src="~/aboutGFarmIcon/fresh.png" />
                    </div>
                </li>
                <li>

                    <div class="text">
                        <h4 class="text-right">@T("Homepage.AboutGFarm.LeftTitle3")</h4>
                        <p class="text-right">@T("Homepage.AboutGFarm.LeftText3")</p>
                    </div>
                    <div class="img">
                        <img alt="" src="~/aboutGFarmIcon/quality.png" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="home-about-item">
            <div class="home-about-center">
                <img alt="" src="~/aboutGFarmIcon/main.png" />
            </div>
        </div>
        <div class="home-about-item">
            <ul class="home-about-right">
                <li>
                    <div class="img">
                        <img alt="" src="~/aboutGFarmIcon/price.png" />
                    </div>
                    <div class="text">
                        <h4>@T("Homepage.AboutGFarm.RightTitle1")</h4>
                        <p>@T("Homepage.AboutGFarm.RightText1")</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img alt="" src="~/aboutGFarmIcon/customer care.png" />
                    </div>
                    <div class="text">
                        <h4>@T("Homepage.AboutGFarm.RightTitle2")</h4>
                        <p>@T("Homepage.AboutGFarm.RightText2")</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img alt="" src="~/aboutGFarmIcon/love.png" />
                    </div>
                    <div class="text">
                        <h4>@T("Homepage.AboutGFarm.RightTitle3")</h4>
                        <p>@T("Homepage.AboutGFarm.RightText3")</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>