@model SocialModel

@using Nop.Core
@using Nop.Services.Configuration

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var storeId = (await storeContext.GetCurrentStoreAsync()).Id;
    var instagramUrl = await settingService.GetSettingByKeyAsync("emporiumthemesettings.instagramurl", String.Empty, storeId, true);
    var pinterestUrl = await settingService.GetSettingByKeyAsync("emporiumthemesettings.pinteresturl", String.Empty, storeId, true);
    var vimeoUrl = await settingService.GetSettingByKeyAsync("emporiumthemesettings.vimeourl", String.Empty, storeId, true);
    var tiktokUrl = "https://www.tiktok.com/@gfarmdalat";
    var tiktokText = "Tiktok";
}

<ul class="social-sharing">
    @if (!String.IsNullOrEmpty(Model.TwitterLink))
    {
        <li><a target="_blank" href="@Model.TwitterLink" rel="noopener noreferrer" aria-label="@T("Footer.FollowUs.Twitter")"><img src="images/bird.png" style="width:25px;height:25px;"></a></li>
    }
    @if (!String.IsNullOrEmpty(Model.FacebookLink))
    {
        <li><a target="_blank" href="@Model.FacebookLink" rel="noopener noreferrer" aria-label="@T("Footer.FollowUs.Facebook")"><img src="images/facebook.png" style="width:25px;height:25px;"></a></li>
    }
    @if (!String.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li><a target="_blank" href="@Model.YoutubeLink" rel="noopener noreferrer" aria-label="@T("Footer.FollowUs.Youtube")"><img src="images/YouTube.png" style="width:25px;height:25px;"></a></li>
    }
    @if (!String.IsNullOrEmpty(pinterestUrl))
    {
        <li><a target="_blank" href="@pinterestUrl" rel="noopener noreferrer" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Pinterest")"><img src="images/ig.png" style="width:25px;height:25px;"></a></li>
    }
    @if (!String.IsNullOrEmpty(vimeoUrl))
    {
        <li><a target="_blank" href="@vimeoUrl" rel="noopener noreferrer" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Vimeo")"></a></li>
    }
    @if (!String.IsNullOrEmpty(instagramUrl))
    {
        <li><a target="_blank" href="@instagramUrl" rel="noopener noreferrer" aria-label="@T("SevenSpikes.Themes.Common.Footer.FollowUs.Instagram")"></a></li>
    }
    <li><a target="_blank" href="@tiktokUrl" rel="noopener noreferrer" aria-label="@tiktokText"><img src="images/tiktok.png" style="width:25px;height:25px;"></a></li>
    @* @if (Model.NewsEnabled) *@
    @* { *@
    @*     <li><a class="rss" href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})" aria-label="@T("Footer.FollowUs.RSS")"></a></li> *@
    @* } *@
</ul>